In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('B:\ohe_data_reduce_cat_class.csv')

In [6]:
df.head()

,Unnamed: 0,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,...,location_Kalena Agrahara,location_Horamavu Agara,location_Hosur Road,location_Vidyaranyapura,location_Hebbal Kempapura,location_BTM 2nd Stage,location_Mahadevpura,location_Horamavu Banaswadi,location_Domlur,location_Tumkur Road
0,0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.shape

(7120, 109)

In [40]:
df=df.drop(['Unnamed: 0'], axis=1)
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Hosur Road,location_Vidyaranyapura,location_Hebbal Kempapura,location_BTM 2nd Stage,location_Mahadevpura,location_Horamavu Banaswadi,location_Domlur,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [41]:
X = df.drop("price", axis=1)
Y = df['price']

In [42]:
print('Shape of X = ', X.shape)
print('Shape of Y = ', Y.shape)

Shape of X =  (7120, 107)
Shape of Y =  (7120,)

In [44]:
from sklearn import model_selection
# 0.3 means 30% will be used for testing and 0.7 or 70% data will be used for training
X_Train, X_Test, Y_Train, Y_Test = model_selection.train_test_split(X, Y, test_size = 0.2, random_state = 51)

In [45]:
print("Sample in training set...", X_Train.shape)
print("Sample in testing set...", X_Test.shape)
print("Sample in training set...", Y_Train.shape)
print("Sample in testing set...", Y_Test.shape)

Sample in training set... (5696, 107)
Sample in testing set... (1424, 107)
Sample in training set... (5696,)
Sample in testing set... (1424,)

In [47]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_Train)
X_Train= sc.transform(X_Train)
X_Test = sc.transform(X_Test)

In [53]:
from sklearn.metrics import mean_squared_error

In [54]:
def rmse(Y_Test, Y_Pred):
  return np.sqrt(mean_squared_error(Y_Test, Y_Pred))

In [55]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(X_Train,Y_Train)
svr_score=svr.score(X_Test,Y_Test) 
svr_rmse = rmse(Y_Test, svr.predict(X_Test))
svr_score, svr_rmse

(0.20638035840828173, 126.27806378079055)

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
lr = LinearRegression()

In [65]:
lr.fit(X_Train, Y_Train)
lr_score = lr.score(X_Test, Y_Test) 
lr_rmse = rmse(Y_Test, lr.predict(X_Test))
lr_score, lr_rmse

(0.7903837092682258, 64.89843531105598)

In [67]:
import xgboost
xgb_reg = xgboost.XGBRegressor()
xgb_reg.fit(X_Train,Y_Train)
xgb_reg_score=xgb_reg.score(X_Test,Y_Test) # with 0.8838865742273464
xgb_reg_rmse = rmse(Y_Test, xgb_reg.predict(X_Test))
xgb_reg_score, xgb_reg_rmse

(0.8866071985706575, 47.73252984729787)

In [69]:
print(pd.DataFrame([{'Model': 'Linear Regression','Score':lr_score, "RMSE":lr_rmse},
              {'Model': 'Support Vector Machine','Score':svr_score, "RMSE":svr_rmse},
              {'Model': 'XGBoost','Score':xgb_reg_score, "RMSE":xgb_reg_rmse}],
             columns=['Model','Score','RMSE']))

                    Model     Score        RMSE
0       Linear Regression  0.790384   64.898435
1  Support Vector Machine  0.206380  126.278064
2                 XGBoost  0.886607   47.732530